body{
    background-color: rgb(59, 57, 78);

    padding: 0px;
    margin: 0px;
    text-align: center;
}
#main{
    width: 90%;
    height: 800px;
    margin: auto;
    background-image: linear-gradient(rgb(0, 21, 88) 10%, rgb(95, 94, 94) 60%, black);

}
#second{
     width: 90%;
    height: 2000px;
    margin: auto;
    background-color: brown;
      background-image: url(https://media.tenor.com/MY47tS16GH8AAAAM/pedro.gif); 
      background-size: auto;
      background-repeat: repeat;
    background-position: 50%;
    background-attachment: scroll;
}