*{
    background-color: black;
}
footer{
  color: white;
  text-align: center;
}
#Crucible{
    width: 300px;
    height: 400px;
}
#oi{
   color: white;
   width: 400px;
   height: 400px;
   font-size: 30px;
}
#Oppaa{
  text-decoration: none;
  color: aqua;
  font-size: 30px;
}
#Parte1{
  width: 25%;
  
}
#MarteloSentinela{
 width: 400px;
   height: 400px;
   position: relative;
   
}
#text2{
color: white;
   width: 400px;
   height: 400px;
   font-size: 30px;
   text-align: center;
   left: 500px;
   bottom: 900px;
}
#Parte2{
  width: 25%;
  

}
#tudo{
  display: flex;
}
#Parte3{
  width: 25%;
}
#Bfg{
  width: 600px;
   height: 400px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
}
#GLink2{
  text-decoration: none;
  color: aqua;
  font-size: 30px;
}
#Text2{
  color: rgb(255, 255, 255);
   width: 400px;
   height: 400px;
   font-size: 30px;
}
#Link3{
  color: aqua;
  text-decoration: none;
}
#Parte4{
  width: 25%;
}
#SS{
  width: 500px;
   height: 400px;
}
#text4{
   color: rgb(255, 255, 255);
   width: 400px;
   height: 400px;
   font-size: 30px;
}
#ss{
  color: aqua;
  text-decoration: none;
}
#escudo{
  position: absolute;
  right: 0;
  padding: 0;
}



