body {
  background-color: black;
}
#doom1 {
  height: 400px;
  width: 600px;
  position: relative;
  bottom: 100px;
  top: 5px;
}
#doom2 {
  height: 400px;
  width: 700px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  top: 5px;
  
}
#Doom3 {
  height: 400px;
  width: 500px;
  position: relative;
  left: 50px;
}
#Text1{
  color: white;
  width: 700px;
  height: 600px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
footer{
  color: white;
  text-align: center;
}
