body {
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}

.p1{
    font-size: 30px;
    color: red;
    display: inline;
    width: 200px;
    height: 50px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration-color: red;

    
}
a{
  color: brown;
}
#Shhh{
  text-align: center;
  
  
}
  

#Img1{
  width: 603px;
  height: 337px;
}
#P1{
  font-family: 'Courier New', Courier, monospace;
}
text{
  color: azure;
  display: block;
  text-align: left;
  height: 200px;
  width: 600px;
  font-size: 33px;
  
}
#doom1992{
  width: 548px;
  height: 355px;
  position: relative ;
  left: 1000px;
  right: 1000px;
  bottom: 100px;
  
  
}
#escudo{
  position: absolute;
  right: 0;
  padding: 0;
  
}
footer{
  color: white;
  text-align: center;
  
}
