body {
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}
#Oi {
  color: red;
  list-style: none;
  padding: 20px;
  margin: 0px;
  margin-right: 15px;
display: inline;
  
}
.p1{
    font-size: 30px;
    display: inline;
    width: 200px;
    height: 50px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#Shhh{
  color: aqua;
  text-align: center;
  
  
}
  

#Img1{
  width: 603px;
  height: 337px;
}
#P1{
  font-family: 'Courier New', Courier, monospace;
}
text{
  color: azure;
  display: block;
  text-align: left;
  height: 200px;
  width: 600px;
  font-size: 33px;
  
}
#doom1992{
  width: 548px;
  height: 355px;
  position: relative;
  left: 1000px;
  bottom: 160px;
  
}
#escudo{
  width: 300px;
  position: relative;
  left: 1100px;
}