body {
  font-family: "Times New Roman", Times, serif;
  background-color: black;
}
#Oi {
  color: red;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-right: 15px;
display: inline;
  
}
.p1{
    font-size: 30px;
    display: inline;
    width: 200px;
    height: 50px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
#Shhh{

  color: aqua;
  text-align: center;
  
}
